<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand"  [routerLink]="['/']"><img src="https://static.wixstatic.com/media/ee8675_60bad0a328b14a66aaed63b0ff49b9ca~mv2.png/v1/fill/w_205,h_34,al_c,q_85,usm_0.66_1.00_0.01/logo%20evo%201.webp" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/funcionarios']"
              >Listar Todos os Funcionários</a
            >
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
</header>
