<h1 id="tableLabel">Funcionários</h1>
<br>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>RG</th>
      <th>ID</th>
      <th>Departamento</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of workers">
      <td>{{ w.name }}</td>
      <td>{{ w.rg }}</td>
      <td>{{ w.id }}</td>
      <td>{{ w.departamentId }}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

