
<div *ngIf="selectedWorker">

  <h1>{{selectedWorker}}</h1>
  <button class="btn btn-warning" (click)="selectWorker('')">Voltar</button>

  <br>
  <br>
  <form>
    <div class="form-group">

      <label for="exampleInputEmail1">Nome do Departamento</label>


      <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Digite o Nome">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">RG</label>
      <input type="password" class="form-control" id="exampleInput" placeholder="Digite o RG">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Foto por URL</label>
      <input type="password" class="form-control" id="exampleInput" placeholder="Digite o URL da foto">
    </div>


    <button type="submit" class="btn btn-primary">Editar </button>
    <br>
    <br>
    <button class="btn btn-danger">Excluir</button>
  </form>

 
</div>
<div *ngIf="!selectedWorker">


  <h1 id="tableLabel">Lista de todos os Funcionários</h1>
 
  <br>
  <br>
  <table class='table table-hover' aria-labelledby="tableLabel">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>RG</th>
        <th>Foto</th>
        <th>ID do Departamento</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of workers">
        <td>{{ w.id }}</td>
        <td>{{ w.name }}</td>
        <td>{{ w.rg }}</td>
        <td><img src="{{ w.foto }}" width="35" height="35" /></td>
        <td>{{w.departamentId}}</td>

      </tr>
    </tbody>
  </table>
</div>
