
<div *ngIf="selectedWorker">

  <h1>{{selectedWorker}}</h1>
  <button class="btn btn-warning" (click)="selectWorker('')">Voltar</button>

  <br>
  <br>
  <form>
    <div class="form-group">

      <label for="exampleInputEmail1">Nome do Departamento</label>

      <input type="email" class="form-control" id="exampleInput" aria-describedby="emailHelp" placeholder="Digite o Nome">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">RG</label>
      <input type="password" class="form-control" id="exampleInput" placeholder="Digite o RG">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Foto por URL</label>
      <input type="password" class="form-control" id="exampleInput" placeholder="Digite o URL da foto">
    </div>


    <button type="submit" class="btn btn-primary">Editar </button>
    <br>
    <br>
    <button class="btn btn-danger">Excluir</button>
  </form>
</div>
<div *ngIf="!selectedWorker">


  <h1 id="tableLabel">Funcionários</h1>
  <button class="btn btn-warning" [routerLink]="['']">Departamentos</button>
  <br>
  <br>

  <table class='table table-hover' aria-labelledby="tableLabel">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>RG</th>
        <th>ID</th>
        <th>Foto</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let workers of workers">
        <td>{{ workers.name }}</td>
        <td>{{ workers.rg }}</td>
        <td>{{ workers.id }}</td>
        <td><img src="{{ workers.foto }}" width="35" height="35" /></td>
        <td><button class="btn btn-primary" (click)="selectWorker(workers)">Selecionar</button></td>
 
      </tr>
    </tbody>
  </table>


</div>
